In [20]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 2, 3, 1, 2, 3]]
          )
s1

a  1    0.205236
   2    1.305771
   3   -1.371093
b  1    0.458523
   2   -0.603068
c  3    0.727621
   1    1.692368
d  2    1.109139
   3   -0.275201
dtype: float64

In [21]:
s1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [22]:
s1['a']

1    0.205236
2    1.305771
3   -1.371093
dtype: float64

In [23]:
s1[['b','c']]

b  1    0.458523
   2   -0.603068
c  3    0.727621
   1    1.692368
dtype: float64

In [24]:
s1['b':'d']

b  1    0.458523
   2   -0.603068
c  3    0.727621
   1    1.692368
d  2    1.109139
   3   -0.275201
dtype: float64

In [25]:
display(s1)
s1['a'][3]

a  1    0.205236
   2    1.305771
   3   -1.371093
b  1    0.458523
   2   -0.603068
c  3    0.727621
   1    1.692368
d  2    1.109139
   3   -0.275201
dtype: float64

-1.371092681252646

In [26]:
s1.loc['b',1]

0.45852317749214533

In [27]:
s1.unstack()

          1         2         3
a  0.205236  1.305771 -1.371093
b  0.458523 -0.603068       NaN
c  1.692368       NaN  0.727621
d       NaN  1.109139 -0.275201

In [28]:
s1.unstack(level=0).T.stack()

a  1    0.205236
   2    1.305771
   3   -1.371093
b  1    0.458523
   2   -0.603068
c  1    1.692368
   3    0.727621
d  2    1.109139
   3   -0.275201
dtype: float64