In [64]:
import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50,5))
scores_df = pd.DataFrame(scores,
                columns=['國文','英文','數學','地理','歷史'],
                index=range(1,51))
scores_df.index.name = '學號'
scores_df.columns.name = '科目'
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)

rank_series = sum_series.rank(method='min',ascending=False)
scores_df['總分'] = sum_series
scores_df['平均'] = mean_series
scores_df['名次'] =rank_series
scores_df.sort_values(by='名次')

科目   國文   英文  數學  地理   歷史   總分    平均    名次
學號
50   97   97  96  82   90  462  92.4   1.0
11   86   98  88  82   97  451  90.2   2.0
17   94   96  74  96   77  437  87.4   3.0
16   90   87  87  71  100  435  87.0   4.0
43   86   99  72  80   85  422  84.4   5.0
32   61  100  93  90   73  417  83.4   6.0
2    81   86  62  98   80  407  81.4   7.0
13   64   87  81  76   95  403  80.6   8.0
35   83   81  59  82   97  402  80.4   9.0
3    75   79  80  84   82  400  80.0  10.0
36   70   73  87  81   80  391  78.2  11.0
38   70   96  97  65   62  390  78.0  12.0
10   88   90  79  73   57  387  77.4  13.0
19   76   61  89  65   92  383  76.6  14.0
14   65   70  74  74   97  380  76.0  15.0
9    48   97  63  90   80  378  75.6  16.0
12   91   76  72  91   46  376  75.2  17.0
39   40   82  83  74   94  373  74.6  18.0
1    83   73  63  73   80  372  74.4  19.0
31  100   56  53  63   88  360  72.0  20.0
29   48   80  99  72   60  359  71.8  21.0
46   79   96  42  89   47  353  70.6  22.0
26   59   67  89  44   93  352  70.4  23.0
27   72   98  58  80   44  352  70.4  23.0
45   60   70  59  65   96  350  70.0  25.0
33   95   49  42  85   78  349  69.8  26.0
44   88   87  81  42   50  348  69.6  27.0
41   44   97  76  90   40  347  69.4  28.0
18   92   43  73  70   68  346  69.2  29.0
5    86   63  80  51   65  345  69.0  30.0
49   79   52  74  58   78  341  68.2  31.0
22   81   56  79  53   70  339  67.8  32.0
15   65   98  46  74   47  330  66.0  33.0
42   54   93  71  54   57  329  65.8  34.0
7    86   45  55  96   46  328  65.6  35.0
47   92   49  93  44   49  327  65.4  36.0
24   80   50  64  57   72  323  64.6  37.0
4    48   80  89  46   60  323  64.6  37.0
25   95   99  41  41   46  322  64.4  39.0
8    53   55  49  90   74  321  64.2  40.0
40   43   59  66  69   84  321  64.2  40.0
28   57   62  68  40   81  308  61.6  42.0
23   76   71  55  44   52  298  59.6  43.0
48   56   51  46  90   54  297  59.4  44.0
20   60   50  86  43   55  294  58.8  45.0
6    85   65  43  49   48  290  58.0  46.0
34   62   55  48  57   56  278  55.6  47.0
37   55   55  48  74   44  276  55.2  48.0
30   41   66  47  47   72  273  54.6  49.0
21   54   63  51  59   41  268  53.6  50.0

In [65]:
def fun1(series:pd.Series) -> int:
    min =series.min()
    median = series.median()
    max = series.max()
    s1 = pd.Series([min,median,max],index=['最低分','中間值','最高分'])
    return s1

subject_df = scores_df[['國文','英文','數學','地理','歷史']]

frame1 = subject_df.apply(fun1)
frame1

科目      國文     英文    數學    地理     歷史
最低分   40.0   43.0  41.0  40.0   40.0
中間值   75.5   73.0  72.0  72.5   72.0
最高分  100.0  100.0  99.0  98.0  100.0

In [66]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series < 60].count()
    chinese = "及格" if(series['國文'] >= 60) else "不及格"
    english = "及格" if(series['英文'] >= 60) else "不及格"
    math = "及格" if(series['數學'] >= 60) else "不及格"
    nuture = "及格" if(series['地理'] >= 60) else "不及格"
    su = "及格" if(series['歷史'] >= 60) else "不及格"
    return pd.Series([lessThen60,chinese,english,math,nuture,su],index=['不及格科目數','國文','英文','數學','地理','歷史'])

display(subject_df.T)
subject_df.T.apply(fun2).T

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,83,81,75,48,86,85,86,53,48,88,...,44,54,86,88,60,79,92,56,79,97
英文,73,86,79,80,63,65,45,55,97,90,...,97,93,99,87,70,96,49,51,52,97
數學,63,62,80,89,80,43,55,49,63,79,...,76,71,72,81,59,42,93,46,74,96
地理,73,98,84,46,51,49,96,90,90,73,...,90,54,80,42,65,89,44,90,58,82
歷史,80,80,82,60,65,48,46,74,80,57,...,40,57,85,50,96,47,49,54,78,90

   不及格科目數   國文   英文   數學   地理   歷史
學號
1       0   及格   及格   及格   及格   及格
2       0   及格   及格   及格   及格   及格
3       0   及格   及格   及格   及格   及格
4       2  不及格   及格   及格  不及格   及格
5       1   及格   及格   及格  不及格   及格
6       3   及格   及格  不及格  不及格  不及格
7       3   及格  不及格  不及格   及格  不及格
8       3  不及格  不及格  不及格   及格   及格
9       1  不及格   及格   及格   及格   及格
10      1   及格   及格   及格   及格  不及格
11      0   及格   及格   及格   及格   及格
12      1   及格   及格   及格   及格  不及格
13      0   及格   及格   及格   及格   及格
14      0   及格   及格   及格   及格   及格
15      2   及格   及格  不及格   及格  不及格
16      0   及格   及格   及格   及格   及格
17      0   及格   及格   及格   及格   及格
18      1   及格  不及格   及格   及格   及格
19      0   及格   及格   及格   及格   及格
20      3   及格  不及格   及格  不及格  不及格
21      4  不及格   及格  不及格  不及格  不及格
22      2   及格  不及格   及格  不及格   及格
23      3   及格   及格  不及格  不及格  不及格
24      2   及格  不及格   及格  不及格   及格
25      3   及格   及格  不及格  不及格  不及格
26      2  不及格   及格   及格  不及格   及格
27      2   及格   及格  不及格   及格  不及格
28      2  不及格   及格   及格  不及格   及格
29      1  不及格   及格   及格   及格   及格
30      3  不及格   及格  不及格  不及格   及格
31      2   及格  不及格  不及格   及格   及格
32      0   及格   及格   及格   及格   及格
33      2   及格  不及格  不及格   及格   及格
34      4   及格  不及格  不及格  不及格  不及格
35      1   及格   及格  不及格   及格   及格
36      0   及格   及格   及格   及格   及格
37      4  不及格  不及格  不及格   及格  不及格
38      0   及格   及格   及格   及格   及格
39      1  不及格   及格   及格   及格   及格
40      2  不及格  不及格   及格   及格   及格
41      2  不及格   及格   及格   及格  不及格
42      3  不及格   及格   及格  不及格  不及格
43      0   及格   及格   及格   及格   及格
44      2   及格   及格   及格  不及格  不及格
45      1   及格   及格  不及格   及格   及格
46      2   及格   及格  不及格   及格  不及格
47      3   及格  不及格   及格  不及格  不及格
48      4  不及格  不及格  不及格   及格  不及格
49      2   及格  不及格   及格  不及格   及格
50      0   及格   及格   及格   及格   及格

In [67]:
s1 = subject_df.T[3]
display(s1)
s1[s1<60].count()

科目
國文    75
英文    79
數學    80
地理    84
歷史    82
Name: 3, dtype: int64

0

In [68]:
display(scores_df.iloc[:3])
new_df = scores_df.iloc[:3].copy()
new_df["不及格"] = pd.Series([1,0,2],index=[1,2,3])
new_df

科目  國文  英文  數學  地理  歷史   總分    平均    名次
學號
1   83  73  63  73  80  372  74.4  19.0
2   81  86  62  98  80  407  81.4   7.0
3   75  79  80  84  82  400  80.0  10.0

科目  國文  英文  數學  地理  歷史   總分    平均    名次  不及格
學號
1   83  73  63  73  80  372  74.4  19.0    1
2   81  86  62  98  80  407  81.4   7.0    0
3   75  79  80  84  82  400  80.0  10.0    2

In [69]:
def fun3(series:pd.Series) -> int:
    return series[series<=60].count()

less60Count = scores_df[['國文', '英文', '數學', '地理', '歷史']].apply(fun3,axis=1)
less60Count

學號
1     0
2     0
3     0
4     3
5     1
6     3
7     3
8     3
9     1
10    1
11    0
12    1
13    0
14    0
15    2
16    0
17    0
18    1
19    0
20    4
21    4
22    2
23    3
24    2
25    3
26    2
27    2
28    2
29    2
30    3
31    2
32    0
33    2
34    4
35    1
36    0
37    4
38    0
39    1
40    2
41    2
42    3
43    0
44    2
45    2
46    2
47    3
48    4
49    2
50    0
dtype: int64

In [70]:
scores_df['不及格'] = less60Count
scores_df

科目   國文   英文  數學  地理   歷史   總分    平均    名次  不及格
學號
1    83   73  63  73   80  372  74.4  19.0    0
2    81   86  62  98   80  407  81.4   7.0    0
3    75   79  80  84   82  400  80.0  10.0    0
4    48   80  89  46   60  323  64.6  37.0    3
5    86   63  80  51   65  345  69.0  30.0    1
6    85   65  43  49   48  290  58.0  46.0    3
7    86   45  55  96   46  328  65.6  35.0    3
8    53   55  49  90   74  321  64.2  40.0    3
9    48   97  63  90   80  378  75.6  16.0    1
10   88   90  79  73   57  387  77.4  13.0    1
11   86   98  88  82   97  451  90.2   2.0    0
12   91   76  72  91   46  376  75.2  17.0    1
13   64   87  81  76   95  403  80.6   8.0    0
14   65   70  74  74   97  380  76.0  15.0    0
15   65   98  46  74   47  330  66.0  33.0    2
16   90   87  87  71  100  435  87.0   4.0    0
17   94   96  74  96   77  437  87.4   3.0    0
18   92   43  73  70   68  346  69.2  29.0    1
19   76   61  89  65   92  383  76.6  14.0    0
20   60   50  86  43   55  294  58.8  45.0    4
21   54   63  51  59   41  268  53.6  50.0    4
22   81   56  79  53   70  339  67.8  32.0    2
23   76   71  55  44   52  298  59.6  43.0    3
24   80   50  64  57   72  323  64.6  37.0    2
25   95   99  41  41   46  322  64.4  39.0    3
26   59   67  89  44   93  352  70.4  23.0    2
27   72   98  58  80   44  352  70.4  23.0    2
28   57   62  68  40   81  308  61.6  42.0    2
29   48   80  99  72   60  359  71.8  21.0    2
30   41   66  47  47   72  273  54.6  49.0    3
31  100   56  53  63   88  360  72.0  20.0    2
32   61  100  93  90   73  417  83.4   6.0    0
33   95   49  42  85   78  349  69.8  26.0    2
34   62   55  48  57   56  278  55.6  47.0    4
35   83   81  59  82   97  402  80.4   9.0    1
36   70   73  87  81   80  391  78.2  11.0    0
37   55   55  48  74   44  276  55.2  48.0    4
38   70   96  97  65   62  390  78.0  12.0    0
39   40   82  83  74   94  373  74.6  18.0    1
40   43   59  66  69   84  321  64.2  40.0    2
41   44   97  76  90   40  347  69.4  28.0    2
42   54   93  71  54   57  329  65.8  34.0    3
43   86   99  72  80   85  422  84.4   5.0    0
44   88   87  81  42   50  348  69.6  27.0    2
45   60   70  59  65   96  350  70.0  25.0    2
46   79   96  42  89   47  353  70.6  22.0    2
47   92   49  93  44   49  327  65.4  36.0    3
48   56   51  46  90   54  297  59.4  44.0    4
49   79   52  74  58   78  341  68.2  31.0    2
50   97   97  96  82   90  462  92.4   1.0    0