In [5]:
import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50,5))
scores_df = pd.DataFrame(scores,
                columns=['國文','英文','數學','地理','歷史'],
                index=range(1,51))
scores_df.index.name = '學號'
scores_df.columns.name = '科目'
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)

rank_series = sum_series.rank(method='min',ascending=False)
scores_df['總分'] = sum_series
scores_df['平均'] = mean_series
scores_df['名次'] =rank_series
scores_df.sort_values(by='名次')

科目  國文   英文   數學  地理  歷史   總分    平均    名次
學號
33  74  100   88  99  95  456  91.2   1.0
6   85   95  100  93  67  440  88.0   2.0
8   81   94   62  96  98  431  86.2   3.0
12  58   80   98  80  97  413  82.6   4.0
38  69   95   78  78  92  412  82.4   5.0
1   96   82   70  90  68  406  81.2   6.0
43  96   55   94  81  80  406  81.2   6.0
20  61   93   79  91  77  401  80.2   8.0
44  44   83   81  84  97  389  77.8   9.0
7   84   81   51  96  76  388  77.6  10.0
11  85   67   80  57  97  386  77.2  11.0
13  80   96   56  83  71  386  77.2  11.0
23  98   95   53  53  80  379  75.8  13.0
29  62   97   86  84  48  377  75.4  14.0
37  62   95   69  92  58  376  75.2  15.0
48  75   86   60  82  72  375  75.0  16.0
10  53   80   99  81  62  375  75.0  16.0
4   47   63   86  90  84  370  74.0  18.0
46  91   56   67  80  75  369  73.8  19.0
28  63   61   94  69  82  369  73.8  19.0
25  64   80   55  90  80  369  73.8  19.0
36  54   79   55  85  93  366  73.2  22.0
30  71   75   95  58  67  366  73.2  22.0
27  77   57   57  99  75  365  73.0  24.0
47  48   78   89  82  67  364  72.8  25.0
39  74   83   65  41  92  355  71.0  26.0
18  67   99   50  69  69  354  70.8  27.0
31  91   63   58  54  83  349  69.8  28.0
35  86   69   49  63  76  343  68.6  29.0
40  89   57   51  91  54  342  68.4  30.0
49  86   65   86  49  53  339  67.8  31.0
3   60   58  100  48  72  338  67.6  32.0
45  66   71   74  50  77  338  67.6  32.0
2   63   77   80  45  68  333  66.6  34.0
17  79   44   49  63  97  332  66.4  35.0
34  49   89   49  62  83  332  66.4  35.0
9   79   63   49  61  78  330  66.0  37.0
42  77   53   79  53  68  330  66.0  37.0
21  45   84   59  87  54  329  65.8  39.0
19  69   80   46  63  70  328  65.6  40.0
22  51   62   58  79  71  321  64.2  41.0
14  96   59   55  40  67  317  63.4  42.0
15  71   48   50  91  52  312  62.4  43.0
32  51   82   47  79  51  310  62.0  44.0
26  42   56   89  77  45  309  61.8  45.0
24  94   60   45  65  45  309  61.8  45.0
41  46   75   51  47  88  307  61.4  47.0
5   54   57   83  45  67  306  61.2  48.0
50  72   41   50  77  64  304  60.8  49.0
16  52   46   70  61  69  298  59.6  50.0

In [10]:
def fun1(series:pd.Series) -> int:
    min =series.min()
    median = series.median()
    max = series.max()
    s1 = pd.Series([min,median,max],index=['最低分','中間值','最高分'])
    return s1

subject_df = scores_df[['國文','英文','數學','地理','歷史']]

frame1 = subject_df.apply(fun1)
frame1

科目     國文     英文     數學    地理    歷史
最低分  42.0   41.0   45.0  40.0  45.0
中間值  70.0   76.0   66.0  78.5  72.0
最高分  98.0  100.0  100.0  99.0  98.0

In [29]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series < 60].count()
    chinese = "及格" if(series['國文'] >= 60) else "不及格"
    english = "及格" if(series['英文'] >= 60) else "不及格"
    math = "及格" if(series['數學'] >= 60) else "不及格"
    nuture = "及格" if(series['地理'] >= 60) else "不及格"
    su = "及格" if(series['歷史'] >= 60) else "不及格"
    return pd.Series([lessThen60,chinese,english,math,nuture,su],index=['不及格科目數','國文','英文','數學','地理','歷史'])

display(subject_df.T)
subject_df.T.apply(fun2).T

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,96,63,60,47,54,85,84,81,79,53,...,46,77,96,44,66,91,48,75,86,72
英文,82,77,58,63,57,95,81,94,63,80,...,75,53,55,83,71,56,78,86,65,41
數學,70,80,100,86,83,100,51,62,49,99,...,51,79,94,81,74,67,89,60,86,50
地理,90,45,48,90,45,93,96,96,61,81,...,47,53,81,84,50,80,82,82,49,77
歷史,68,68,72,84,67,67,76,98,78,62,...,88,68,80,97,77,75,67,72,53,64

   不及格科目數   國文   英文   數學   地理   歷史
學號
1       0   及格   及格   及格   及格   及格
2       1   及格   及格   及格  不及格   及格
3       2   及格  不及格   及格  不及格   及格
4       1  不及格   及格   及格   及格   及格
5       3  不及格  不及格   及格  不及格   及格
6       0   及格   及格   及格   及格   及格
7       1   及格   及格  不及格   及格   及格
8       0   及格   及格   及格   及格   及格
9       1   及格   及格  不及格   及格   及格
10      1  不及格   及格   及格   及格   及格
11      1   及格   及格   及格  不及格   及格
12      1  不及格   及格   及格   及格   及格
13      1   及格   及格  不及格   及格   及格
14      3   及格  不及格  不及格  不及格   及格
15      3   及格  不及格  不及格   及格  不及格
16      2  不及格  不及格   及格   及格   及格
17      2   及格  不及格  不及格   及格   及格
18      1   及格   及格  不及格   及格   及格
19      1   及格   及格  不及格   及格   及格
20      0   及格   及格   及格   及格   及格
21      3  不及格   及格  不及格   及格  不及格
22      2  不及格   及格  不及格   及格   及格
23      2   及格   及格  不及格  不及格   及格
24      2   及格   及格  不及格   及格  不及格
25      1   及格   及格  不及格   及格   及格
26      3  不及格  不及格   及格   及格  不及格
27      2   及格  不及格  不及格   及格   及格
28      0   及格   及格   及格   及格   及格
29      1   及格   及格   及格   及格  不及格
30      1   及格   及格   及格  不及格   及格
31      2   及格   及格  不及格  不及格   及格
32      3  不及格   及格  不及格   及格  不及格
33      0   及格   及格   及格   及格   及格
34      2  不及格   及格  不及格   及格   及格
35      1   及格   及格  不及格   及格   及格
36      2  不及格   及格  不及格   及格   及格
37      1   及格   及格   及格   及格  不及格
38      0   及格   及格   及格   及格   及格
39      1   及格   及格   及格  不及格   及格
40      3   及格  不及格  不及格   及格  不及格
41      3  不及格   及格  不及格  不及格   及格
42      2   及格  不及格   及格  不及格   及格
43      1   及格  不及格   及格   及格   及格
44      1  不及格   及格   及格   及格   及格
45      1   及格   及格   及格  不及格   及格
46      1   及格  不及格   及格   及格   及格
47      1  不及格   及格   及格   及格   及格
48      0   及格   及格   及格   及格   及格
49      2   及格   及格   及格  不及格  不及格
50      2   及格  不及格  不及格   及格   及格

In [21]:
s1 = subject_df.T[3]
display(s1)
s1[s1<60].count()

科目
國文     60
英文     58
數學    100
地理     48
歷史     72
Name: 3, dtype: int64

2